
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutCst.cshtml";

}

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <div id="um"></div>
            <div class="container">
                <div class="carousel-caption">
                    <div class="h2">CONSULTORIA ESPECIALIZADA EM TECNOLOGIA</div>
                    <br><br><br><br><br>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Consultoria</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div id="dois"></div>
            <div class="container">
                <div class="carousel-caption">
                    <div class="h2">PLANOS DE HOSPEDAGEM, OTIMIZAÇÃO E TREINAMENTO </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Informações</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div id="tres"></div>
            <div class="container">
                <div class="carousel-caption">
                    <div class="h2">MANUTENÇÃO DE COMPUTADORES</div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Orçamento</a></p>
                </div>
            </div>
        </div>
        <div class="item">
            <div id="quatro"></div>
            <div class="container">
                <div class="carousel-caption">
                    <p><a class="btn btn-lg btn-primary" href="#" role="button">Consulte-nos</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div><!-- /.carousel -->
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="~/Content/img-cst/AnaliseConsultoria.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Foco em resultados</h2>
            <p>Nosso objetivo é trazer o sucesso atuando do início até o fim do projeto. Utilizando ferramentas e boas práticas além da experiência de muitos anos implantando tecnologia nas áreas financeira, comercial, automação e jurídica.</p>
            <p><a class="btn btn-default" href="#" role="button">Mais detalhes &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/Content/img-cst/Sites.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Criação de Sites</h2>
            <p>Criação de uma identidade virtual baseada no que você quer e precisa. Nós desenvolvemos com rapidez o que sua empresa precisa e de forma totalmente customizada. Criamos o seu domínio, seu site e proporcionamos uma hospedagem segura.</p>
            <p><a class="btn btn-default" href="#" role="button">Orçamento &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" src="~/Content/img-cst/Software.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Projeto e suporte</h2>
            <p>Utilizamos alta tecnologia, metodologias ágeis e de várias plataformas. Sistemas sob medida além de dar suporte e implantação a diversos sistemas existentes no mercado como Bematech, Senior e controladores de versão de sistemas.</p>
            <p><a class="btn btn-default" href="#" role="button">Consulte-nos &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->
    <!-- /END THE FEATURETTES -->




</div><!-- /.container -->
