
@{
    ViewBag.Title = "Sobre";
    Layout = "~/Views/Shared/_LayoutCst.cshtml";
}



<div class="container">
    <div class="row">
    <div class="col-sm-8  col-md-8 col-lg-8">

        <div class="text-justify">

            <p>
                <br><br><br><br>

                <div class="container-fluid h3"> <img src="~/Content/img-cst/IconeMenor.png"/> - Sobre Nós</div>
                <br>

                A TI, Consultoria de Tecnologia da Informação, é capaz de oferecer as melhores soluções com menor custo aos clientes. Contando com uma experiência que permite enfrentar algo complexo de maneira simples com qualidade e no prazo combinado. Atuando nos diversos seguimentos e independente do tamanho da empresa. Nossa consultoria, suporte, desenvolvimento de sistemas, criação de sites, treinamento e otimização podem atender todo o território nacional. Contamos com um time especialista em tecnologia com foco em soluções com auto grau de acerto.

                Ter uma empresa que pode ajudar nessa tarefa e podendo agir de maneira pontual ou do início ao fim do projeto é o que mais gera satisfação dos nossos clientes. Dessa forma acreditamos que você não precisa preocupar-se com problemas relacionados a TI se contar com nossos serviços. Estamos localizados em local estratégico e de fácil atendimento. Entre em contato e verá que o custo benefício surpreenderá você.
                <br>
                Nossa essencia está fudamentada em:
                <br>

                <ul class="list">
                    <li>Foco</li>
                    <li>Resiliência</li>
                    <li>Fé</li>
                    <li>Ousadia</li>
                    <li>Responsabilidade</li>
                    <li>Honestidade</li>
                </ul>

                Aguardamos seu contato para um orçamento, sem compromisso.
        </div>

        
    </div>

        <div class="col-sm-4  col-md-4 col-lg-4">
            <br><br><br><br><br><br><br>
            <hr>

            <img src="~/Content/img-cst/Avaliacao.jpg" class="img-responsive"/>

            <hr>
        </div>


        </div>
        </div>

