
<!DOCTYPE html>
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>PORTIFÓLIO</title>
</head>
<!--<body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0">-->
<body marginheight="0" marginwidth="0" topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0" offset="0" style="padding:0px;">
    <center>
        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="1">
            <tr>
                <td valign="top" mc:edit="new_products_2_columns" style="width:100%; padding-bottom:3px; color: #383838; font-size: 20px; font-style: italic; font-weight:normal; font-family:Georgia, 'Times New Roman', Times, serif; border-bottom:1px solid #ECECEA; text-align:center;">

                    <singleline label="New Products"> <h4> NOME: [nome] &nbsp; <br /> EMAIL: [email] &nbsp; <br /> ASSUNTO: [assunto]</h4> </singleline>

                </td>
            </tr>
        </table>

        <table>
        <tr>
            <td>
              
        <tr class="content_msg">
            <td align="center" valign="top" style="padding-bottom:20px;">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" id="templateBody">
                    <tr mc:repeatable=mc:repeatable>
                        <td valign="top" class="bodyContent" style="padding-top:30px; padding-left:10px; padding-right:10px; padding-bottom:20px; text-align:center; font-style:italic;" mc:edit="slogan_one"><singleline label="Slogan One"><h4>MENSAGEM: &nbsp; [mensagem]</h4></singleline></td>
                    </tr>
                </table>
        </td>
            </tr>
            </table>
        </center>

</body>
</html>

